// Here you can add other styles
.btn:focus,
select:focus {
    outline: none!important;
    box-shadow: none!important;
}
.c-main {
    position: relative;

    .add-new-market_button {
        margin: 25px;
        position: absolute;
        bottom: 0;
        right: 0;
        font-weight: bold;
        box-shadow: 0 0 0 $primary-400;
        animation: pulse 2s infinite;
    }
    @-webkit-keyframes pulse {
      0% {
        -webkit-box-shadow: 0 0 0 0 $primary-400;
      }
      70% {
          -webkit-box-shadow: 0 0 0 15px rgba(204,169,44, 0);
      }
      100% {
          -webkit-box-shadow: 0 0 0 0 rgba(204,169,44, 0);
      }
    }
    @keyframes pulse {
      0% {
        -moz-box-shadow: 0 0 0 0 $primary-400;
        box-shadow: 0 0 0 0 $primary-400;
      }
      70% {
          -moz-box-shadow: 0 0 0 15px rgba(204,169,44, 0);
          box-shadow: 0 0 0 15px rgba(204,169,44, 0);
      }
      100% {
          -moz-box-shadow: 0 0 0 0 rgba(204,169,44, 0);
          box-shadow: 0 0 0 0 rgba(204,169,44, 0);
      }
    }

    .settings-list-group {
      i {
        display: none
      }

      .active.custom-active {
        color: $primary;
        font-weight: bold;

        i {
          display: block;
          position: absolute;
          right: 5%;
          top: 50%;
          -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
        }
      }
    }

    .chart-watermark {
      opacity: .15;
      position: absolute;
      left: 50%;
      top: 50%;
      -webkit-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
    }
}
.custom-select-xs, .form-control-xs {
  height: calc(1.5em + 0.26rem + 2px);
  padding-top: 0.13rem;
  padding-bottom: 0.13rem;
  font-size: 0.76563rem;
}
.modal-content {
  position: relative;
  // width: 600px;
  max-height: 600px;
  background-color: rgba(61, 62, 71, .55) !important;
}
.checkout_modal .modal-content {
  background-color: rgba(61, 62, 71, .9) !important;
}

.absolute-text {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);

  span {
    color: rgba(255, 255, 255, 0.75);
    font-weight: bold;
  }
}
.absolute-spinner {
  position: absolute;
  left: 50%;
  top: 50%;
}

.p-07 {
  padding-left: 0.07rem !important;
  padding-right: 0.07rem !important;
}
.pr-07 {
  padding-right: 0.07rem !important;
}
.pl-07 {
  padding-left: 0.07rem !important;
}

.tippy-box:not(.tippy-box[data-theme~='cpopover']) {
  .tippy-content {
    background-color: #50adec!important;
  }
}

.tippy-arrow {
  color: #50adec!important;
}

.c-dark-theme {
  .table {
    text-align: center
  }
  .dark-pool_row {
    background-color: rgba(0, 151, 252, 0.15)!important;
  }
  .bearish-scan_row {
    background: linear-gradient(to right,  rgba(220, 53, 69, .2) 0%, rgba(220, 53, 69, 0) 100%);
  }
  .bullish-scan_row {
    background: linear-gradient(to right,  rgba(40, 167, 69, .2) 0%, rgba(40, 167, 69, 0) 100%);
  }
  .table-striped tbody tr:nth-of-type(odd) {
    background-color: rgba(0, 0, 21, 0.15);
  }
  .table-striped tbody tr:hover {
    color: rgba(255, 255, 255, 0.87);
    background-color: rgba(255, 255, 255, 0.1);
  }
}

.rangeslider-horizontal{
  height: 7px!important;
}
.rangeslider__labels .rangeslider__label-item  {
  top: 5px!important;
  font-size: 11.5px!important;
}
.rangeslider {
  margin: 10px 0!important;
  background: hsl(0, 0%, 50%)!important;
  margin-bottom: 20px!important;
}
.size-slider .rangeslider .rangeslider__handle {
  background: #e1a82d!important;
  border: 1px solid #e1a82d!important;
}
.size-slider .rangeslider-horizontal .rangeslider__fill {
  background-color: #e1a82d!important;
}
.rangeslider-horizontal .rangeslider__handle {
  width: 15px!important;
  height: 15px!important;
}
.rangeslider-horizontal .rangeslider__handle:after {
  width: 0!important;
}
.rangeslider .rangeslider__handle-tooltip {
  width: 40px;
  height: 40px;
  text-align: center;
  position: absolute;
  background-color: #4799eb!important;
  font-weight: bold;
  font-size: 14px;
  transition: all 0.1s ease-in;
  border-radius: 4px;
  display: inline-block;
  color: #fff;
  left: 50%;
  transform: translate3d(-50%, 0, 0);
}
.rangeslider-vertical .rangeslider__handle-tooltip:after {
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  border-left: 8px solid #4799eb!important;
  left: 100%;
  top: 12px;
}
.rangeslider-horizontal .rangeslider__handle-tooltip:after {
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 8px solid #4799eb!important;
  left: 50%;
  bottom: -8px;
  transform: translate3d(-50%, 0, 0);
}
.blocktrades-marker {
  transform: translateY(4px);
}
.ft-left-nav {
  button {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.9rem;
  }
}
.overlaid-sidebar_divergence
{
  z-index: 5000!important;
}
.aside-heading
{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 5%;
  padding-bottom: 5%;

  .aside-heading_beta {
    position: absolute;
    right: 0;
    top: 20px;
  }
}
.z-index_it
{
  z-index: 1;
}
.custom-scans_nav {
  li.nav-item a {
    color: white;
  }
}
.option-table_wrapper {
  position: relative;
  height: 80vh;
  overflow: auto;
}
.option-table_wrapper-alpha {
  position: relative;
  height: 75vh;
  overflow: auto;
}
.option-table_wrapper-trends {
  position: relative;
  height: 70vh;
  overflow: auto;
}
.block-trades_table,
.users-list_table {
  position: relative;
  height: 90vh;
  overflow: auto; 
}

.login-app-bg {
  background: linear-gradient(to top, rgba(24, 25, 36, .75) 10%,
  rgba(24, 25, 36, 1)), url(../assets/images/background/login_background.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.c-dark-theme .nav-pills .nav-link.active, .c-dark-theme .nav-pills .show > .nav-link {
  color: white!important;
}

.react-joyride__tooltip button:focus {
  outline: none !important;
  box-shadow: none !important;
}
.react-joyride__tooltip button {
  font-weight: bold!important;
  border-radius: 50em!important;
  font-size: 0.875rem!important;
}

.c-wrapper {
  overflow: hidden;
}

.c-header {
  min-height: unset!important;
  height: 45px!important;
  flex-wrap: unset!important;
  align-items: center;
}

.chartlist-container {
  .chartlist-container_shadow {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    height: 100%;
    width: 100%;
    box-shadow: 0 0 10px 0 #80cbfe;
  }
}

.z-index-2 {
  z-index: 2;
}

.chart-symbol_container {
  cursor: pointer;
}
// .was-validated .form-control:valid, .form-control.is-valid {
//   background: inherit!important;
//   border: inherit!important;
// }

.compliance_modal {
  .modal-content {
    height: 100vh;
    overflow: hidden;

    .modal-body {
      height: 75%
    }

    .compliance-step_text-container {
      flex: 1;
      flex-direction: column;
      align-items: center;
      z-index: 1;

      span {
        font-weight: 500;
        line-height: 1.2;
        font-size: 0.89375rem;
        // text-transform: uppercase;

        &.active {
          text-decoration: underline;
        }
      }
    }

    .compliance-step_container {
      flex: 1;
      flex-direction: column;
      position : relative;
      justify-content: center;
      align-items: center;
      z-index: 1;

      .step-number_container {
        height: 35px;
        width: 35px;
        background-color: #262834;
        border: 2px solid $primary-base;
        border-radius: 50%;
        color: white;
        font-weight: bold;
        text-align: center;
        line-height: 32px;
        z-index: 3;
    
        &.active {
          background-color: $primary-base!important;
        }
      }
    
      &::after {
        position: absolute;
        top: 50%;
        content: '';
        border-bottom: 2px solid $primary-base;
        z-index: 2;
        width: 100%
      }
    }
    
    .compliance-step_container-first {
      &::after {
        width: 50%!important;
        left: 50%!important;
      }  
    }
    .compliance-step_container-last {
      &::after {
        width: 50%!important;
        right: 50%!important;
      }  
    }

    .modal-content_scroll {
      position: relative;
      height: inherit;
    }

    // .sectionIContainer {
    //   position: relative;
    //   overflow: auto;
    // }
  }
}

.was-validated .custom-select:invalid, .custom-select.is-invalid {
  background: none!important;
}
.was-validated .custom-select:valid, .custom-select.is-valid {
  background: none!important;
}
.was-validated .form-control:valid, .form-control.is-valid {
  background: none!important;
}


.c-custom_loader {
  position: absolute;
  left:0;
  right:0;
  z-index:10000;
  background-color: #24252f;
  height: 100%;

  .lds-ripple {
    display: inline-block;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 80px;
    height: 80px;
  }
  .lds-ripple div {
    position: absolute;
    border: 4px solid #1992e3;
    opacity: 1;
    border-radius: 50%;
    animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
  }
  .lds-ripple div:nth-child(2) {
    animation-delay: -0.5s;
  }
  @keyframes lds-ripple {
    0% {
      top: 36px;
      left: 36px;
      width: 0;
      height: 0;
      opacity: 1;
    }
    100% {
      top: 0px;
      left: 0px;
      width: 72px;
      height: 72px;
      opacity: 0;
    }
  }
  
  // div {
  //   position: absolute;
  //   left: 50%;
  //   top: 50%;
  //   -webkit-transform: translate(-50%, -50%);
  //   transform: translate(-50%, -50%);
  //   background: url(../assets/images/background/tf_spinner.gif);
  //   width: 100%;
  //   height: 100%;
  //   background-repeat: no-repeat;
  //   background-position: center;
  // }
}

.chartType-container {
  cursor: pointer;
}
.popover-body {
  padding: 0
}
.chartTypes-list {
  list-style: none;
  margin: 0;
  padding: 0;

  display: flex;
  flex-direction: column;

  .chartTypes-option-selected {
    background-color: rgba(0,0,0, .25);
  }

  .chartTypes-option {
    padding: 7px;
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;

    &:hover {
      background-color: rgba(0,0,0, .25);
    }

    img {
      padding-right: 5px
    }
  }
}

.chartlist-container {
  .card-header {
    padding-top: 0;
    padding-bottom: 0;
  }
}