// Variable overrides
$primary-base:  #1992e3 !default;
$primary-100:   #e6f5ff !default;
$primary-200:   #cceafe !default;
$primary-300:   #b3e0fe !default;
$primary-400:   #99d5fe !default;
$primary-500:   #80cbfe !default;
$primary-600:   #66c1fd !default;
$primary-700:   #4db6fd !default;
$primary-800:   #33acfd !default;
$primary-900:   #1aa1fc !default;

$primary-dark:  #2ec2ff !default;
$primary:       #0097fc !default;
$primary-50:    #b3e0fe !default;
$primary-25:    #cceafe !default;
