
// If you want to override variables do it here
@import "variables";

// Import CoreUI styles
@import "coreui-pro/coreui.scss";

// Import calendar styles
@import "calendar/calendar.scss";

// Some temp fixes
@import "fixes";

// If you want to add something do it here
@import "custom";

@import "../assets/icons/coreui-icons/css/all.css";
